= render_navbar {}
.login
  %h2 Reset password
  = form_for(:password_reset, url: password_resets_path) do |f|
    .input-field
      = f.email_field :email, placeholder: 'E-Mail'
    %br{:style => "clear: both;"}/
    .submit
      = submit_tag "Send password reset link"
      or
      %a{:href => "/"} go back to your blog.
