= render @article, article_counter: -1
.bg-related.pt-60.pb-60.vc_custom_1558746900193
  .container
    %h1.title-related
      Más entradas de
      %strong
        INTERTECNICOS
    #articles
      .row
        = render partial: 'article_collection', collection: @related_articles
