- if Rails.env.production?
  User-Agent: *
  Allow: /
  Disallow: /sedes-personal
  Disallow: /admins/
  Disallow: /customers/
  Sitemap: https://intertecnicos.com/sitemap.xml.gz
- else
  User-Agent: *
  Disallow: /
