.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %a.brand{:href => "/admin"}= CONFIG[:title_short]
      %ul.user-info
        - if current_lines_user
          %li= current_lines_user.email
          %li
            %a{:href => logout_path}= t('lines.buttons.logout').html_safe
      %br.clear/
