/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-167816994-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167816994-1');
  gtag('config', 'AW-629340075');
  gtag('event', 'conversion', {'send_to': 'AW-629340075/K_AtCLTI09IBEKvvi6wC'});
