#footer-widgetarea.nt-section.pt-60.pb-75.footer.footer--s4.footer--color-light.vc_custom_1558951260637.nt-has-fill
  .container-fuid
    .row
      .z-index-2.nt-column.col-sm-12.col-lg-4.col-md-8.col-12
        .wpb_single_image.wpb_content_element.vc_align_left
          %figure.wpb_wrapper.vc_figure
            .vc_single_image-wrapper.vc_box_border_grey
              =image_tag 'logo_white.png', class: 'vc_single_image-img'
        .spacer.py-4
        .s-btns.s-btns--md.s-btns--light.s-btns--rounded
          %ul.d-flex.flex-row.flex-wrap.align-items-center.justify-content-lg-start
            %li.social-media
              %a.y{:href => "#"}
                %i.fontello-linkedin
      .z-index-3.nt-column.col-sm-12.col-lg-4.col-md-5.col-12
        .spacer.py-4.d-lg-none
        %h4.vc_custom_heading.mt-0{:style => "color: #ffffff;text-align: left"} Contacto
        .wpb_text_column.wpb_content_element.vc_custom_1559258220252
          .wpb_wrapper
            %address.footer__address.footer__address--s2
            %ul
              %li
                %i.__ico.fontello-location{style: 'margin-right: 10px;'}
                Carrera 74b 64f-20, Bogotá
              %li
                %i.__ico.fontello-mail-1{style: 'margin-right: 5px;'}
                %a{style: 'color: #fff', :href => "mailto:info@intertecnicos.com"}
                  %span.__cf_email__ info@intertecnicos.com
              %li
                %i.__ico.fontello-phone{style: 'margin-right: 5px;'}
                %a{style: 'color: #fff', :href => "https://web.whatsapp.com/send?phone=573115412451"} +573115412451
              %li
                %i.__ico.fontello-phone{style: 'margin-right: 5px;'}
                %a{ style: 'color: #fff', :href => "tel:5717967490", target: '_blank'}+5717967490
      .z-index-4.nt-column.col-sm-12.col-lg-4.col-md-7.col-12
        .spacer.py-4.d-lg-none
        %h4.vc_custom_heading.mt-0{:style => "color: #ffffff;text-align: left"}
          We
          %i.fa.fa-heart{:style => "color: red;"}
          Engineering
      .wpb_text_column.wpb_content_element.col-md-12
        .wpb_wrapper{:style => "display: flex;justify-content: space-between;margin-top: 30px;"}
          %p
            Copyright 2020
            %i.fa.fa-copyright
            %a.__dev{:href => "#", :rel => "noopener noreferrer", :target => "_blank"} Intertecnicos
          %p{:style => "margin-top: 0;"}
            Desarrollado con
            %i.fa.fa-heart
            por
            %a.__dev{:href => "http://streetopendata.com/", :target => "_blank"} Street Open Data Lab
