%script{:type => "application/ld+json"}
  {"@context": "https://schema.org","@type": "ProfessionalService","name": "intertecnicos","image": "https://intertecnicos.com/assets/ogimage-73d881905d8b3cbdf1d476870671d9901c666deaa0c8744ca0ac046ddfa8e6eb.png","@id": "https://intertecnicos.com/","url": "https://intertecnicos.com/","telephone": "+573115412451","address": {"@type": "PostalAddress","streetAddress": "Carrera 74b 64f-20, Bogotá","addressLocality": "Bogotá","postalCode": "110151","addressCountry": "CO"},"geo": {"@type": "GeoCoordinates","latitude": 4.6807208,"longitude": -74.1065649},"openingHoursSpecification": {"@type": "OpeningHoursSpecification","dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"opens": "00:00","closes": "23:59"}}

  
